
@font-face {
                          font-family: "KGWhattheTeacherWants";
                          src: url('../fonts/KGWhattheTeacherWants.ttf') format("truetype");
                        }
                        
.dad {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 923px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.dad .background2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : calc(0.00% - 1772px);
  height              : 2082px;
  width               : calc(100.00% + 815px);
  position            : absolute;
  margin              : 0;
  left                : calc(0.00% - 613px);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dad .path20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 83px;
  height              : 176px;
  width               : 269px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dad .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 20px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dad .group2 .navigationbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 19px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dad .group2 .navigationbar .rectangle41path16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 19px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dad .group2 .navigationbar .rectangle41path16 .rectangle41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 15px;
  width               : 15px;
  position            : relative;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(45deg); /* IE 9 */
  -webkit-transform   : rotate(45deg); /* Chrome, Safari, Opera */
  transform           : rotate(45deg);
}
.dad .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 59px;
  height              : 1542px;
  width               : 650px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dad .text .whendaddeploys {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 172px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(49, 49, 49, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.dad .text .hardback {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 210px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(49, 49, 49, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.dad .text .info {
  background-color    : rgba(255,255,255,0.0);
  top                 : 274px;
  height              : auto;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(92, 92, 92, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.dad .text .infocopy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1342px;
  height              : auto;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 305px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(92, 92, 92, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.dad .text .infocopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 506px;
  height              : auto;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(92, 92, 92, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.dad .text .a1595 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 82px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 221px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(49, 49, 49, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.dad .text .aboutthebook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 253px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(46, 56, 60, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.dad .text .reviews {
  background-color    : rgba(255,255,255,0.0);
  top                 : 473px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(46, 56, 60, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.dad .buttonreadnow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 179px;
  height              : 102px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 172px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dad .buttonreadnow .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 102px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dad .buttonreadnow .buynow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : 85px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.dad .dad1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 63px;
  height              : 141px;
  width               : 158px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}