
@font-face {
                          font-family: "KGWhattheTeacherWants";
                          src: url('../fonts/KGWhattheTeacherWants.ttf') format("truetype");
                        }
                        
.dream {
  width               : 100%;
  min-width           : 375px;
  height              : 100vh;
  min-height          : 1029px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.dream .background2copy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1772px;
  height              : 2082px;
  width               : 1190px;
  position            : absolute;
  margin              : 0;
  left                : -597px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .path20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 83px;
  height              : 176px;
  width               : 269px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .rating {
  background-color    : rgba(255,255,255,0.0);
  top                 : 172px;
  height              : 15px;
  width               : 82px;
  position            : absolute;
  margin              : 0;
  left                : 185px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .rating .capa1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 82px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .rating .capa1 .star {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 82px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .rating .capa1 .star .rectangle52 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 82px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .rating .capa1 .star .rectangle52 .rectangle521 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 15px;
  width               : 82px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .a12review {
  background-color    : rgba(255,255,255,0.0);
  top                 : 361px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AvenirNext-Regular", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 16.0px;
}
.dream .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 20px;
  width               : 19px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .group2 .navigationbar {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 19px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .group2 .navigationbar .rectangle41path16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 20px;
  width               : 19px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .group2 .navigationbar .rectangle41path16 .rectangle41 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 15px;
  width               : 15px;
  position            : relative;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(45deg); /* IE 9 */
  -webkit-transform   : rotate(45deg); /* Chrome, Safari, Opera */
  transform           : rotate(45deg);
}
.dream .review {
  background-color    : rgba(255,255,255,0.0);
  top                 : 366px;
  height              : 10px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .review .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 8px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .review .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 3px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .review .shape2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 2px;
  width               : 2px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .bookmarks {
  background-color    : rgba(255,255,255,0.0);
  top                 : 84px;
  height              : 20px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .coverimage2copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 62px;
  height              : 135px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .textcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 59px;
  height              : 989px;
  width               : 346px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .textcopy .dreambig {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 203px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(49, 49, 49, 1.0);
  text-align          : left;
  line-height         : 23.0px;
}
.dream .textcopy .hardback {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 212px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 15.0px;
  color               : rgba(49, 49, 49, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.dream .textcopy .info {
  background-color    : rgba(255,255,255,0.0);
  top                 : 278px;
  height              : auto;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(92, 92, 92, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.dream .textcopy .infocopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 514px;
  height              : auto;
  width               : 345px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 12.0px;
  color               : rgba(92, 92, 92, 1.0);
  text-align          : left;
  line-height         : 15.0px;
}
.dream .textcopy .a1595 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 82px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 221px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(49, 49, 49, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.dream .textcopy .aboutthebook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 253px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(46, 56, 60, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.dream .textcopy .reviews {
  background-color    : rgba(255,255,255,0.0);
  top                 : 479px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(46, 56, 60, 1.0);
  text-align          : left;
  line-height         : 21.0px;
}
.dream .buttonreadnowcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 179px;
  height              : 102px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 192px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .buttonreadnowcopy .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 102px;
  width               : 168px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.dream .buttonreadnowcopy .buynow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : 85px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}