
@font-face {
                          font-family: "KGWhattheTeacherWants";
                          src: url('../fonts/KGWhattheTeacherWants.ttf') format("truetype");
                        }
                        @font-face {
                          font-family: "KnowYourProduct";
                          src: url('../fonts/knowyour.ttf') format("truetype");
                        }
                        
.whatis {
  width               : 100%;
  min-width           : 634px;
  height              : 100vh;
  min-height          : 316px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.whatis .soldierdaughterreunion696x348jpg653x0q80cropsmart {
  background-color    : rgba(255,255,255,0.0);
  top                 : -23px;
  height              : 362px;
  width               : 639px;
  position            : absolute;
  margin              : 0;
  left                : -5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.whatis .sponsoradeploying {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KGWhattheTeacherWants", Helvetica, Arial, serif;
  font-size           : 21.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 25.0px;
}
.whatis .lzproject {
  background-color    : rgba(255,255,255,0.0);
  top                 : -4px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "KnowYourProduct", Helvetica, Arial, serif;
  font-size           : 50.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 58.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}