body{

  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 200vh;
  margin: 0;
}
@font-face {
            font-family: "KGWhattheTeacherWants";
            src: url('fonts/KGWhattheTeacherWants.ttf');
            }
  @font-face {
  font-family: "KnowYourProduct";
  src: url('fonts/knowyour.ttf');
    }

    #paper{
      background-repeat: no-repeat;
      /* margin-top: 80px; */
      position: fixed;
      width: 100%;
      height: 100vh;
      z-index: 1;

    }

    .logo {
      float: left;
      padding: 10px 10px;
      src: url(lzlogo.png);
      height: 50px;
      width: 50px;

    }

    nav {
      background-color: #DBDBDB;
      margin: 0;
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
      font-family: "KGWhattheTeacherWants";
        z-index: 2;
    }
    nav ul {
      margin: 0;
      padding: 0;
      display: flex;
    }
    nav ul li {
      display: inline-block;
      list-style-type: none;
    }
    nav ul li a {
      color: black;
      background-color: #DBDBDB;
      display: block;
      line-height: 3em;
      padding: 1em 1em;
      text-decoration: none;
    }
    nav ul li:first-child {
      margin-right: auto;
    }
    /* nav ul li a.logo {
      background-color: #DBDBDB;
      width: 30px;
      height: 30px;
    } */
    nav ul li a:hover {
      background-color: #9BD0BD;
    }









#hero{
  text-align: center;
  font-family: "KnowYourProduct", Arial, Times, Helvetica;
  height: 1100px;
  overflow: hidden;
  position: relative;
  margin-top: 18px;

}



.content{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: white;
  z-index: 2;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: absolute;
  top: 60%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
  transform: translateY(-60%) translateX(-50%);
}
.leslie{
  font-size: 80px;
  color: #FFFFFF;
  /* padding-bottom: 300px; */
  height: 150px;
  margin-top: 550px;
  font-family: "KnowYourProduct";
  z-index: -1;
}

/* h1{
  font-family: "KnowYourProduct";
  font-size: 20px;
  text-align: center;
} */

h2{
  color: #CCE8E8;
  font-size: 50px;
  font-family: "KGWhattheTeacherWants";
}

h3{
  color:#313131;
  font-size: 50px;
  font-family: "KGWhattheTeacherWants";

}
h4{
  color:#313131;
  font-size: 40px;
  font-family: "KGWhattheTeacherWants";

}
h5{
  color:#313131;
  font-size: 30px;
  font-family: "KGWhattheTeacherWants";
  text-align: left;

}
h6{
  color:#787878;
  font-size: 20px;
  font-family: "KGWhattheTeacherWants";
  text-align: left;

}

.sm{
  height: 100px;
  width: 100px;
  padding-right: 45px;
    margin: 0 auto;
}
.sp{
    height: 200px;
    width: 250px;
    padding-right: 45px;
      margin: 0 auto;

}
#donationtab{
  display: inline-block;
}

.button {
  background-color: #F0B8AC; /* Pink */
  border: none;
  color: white;
  padding: 2px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 10px;
  cursor: pointer;
}

.button1, .button2 {
  border-radius: 12px;
}

#op{

border: 1px solid #45a3cc;
border-radius: 4px;
box-shadow: rgba(0,0,0,.2) 0 5px 15px;
color: #555;
cursor: pointer;
display: block;
flex: 1;
margin: 20px;
overflow: hidden;
padding: 20px;
text-decoration: none;
transition: all .3s;
}
.bookstitle{
  color: #00ad7d;
display: block;
font-size: 1.1rem;
line-height: 1.5rem;
}

#socialmedia{
  margin-bottom: 200px;
  padding: 20px;
}

#books > img{
  width: 178px;
  height: 169px;
}

#books > button{
  width: 222px;
  height: 55px;
}



.books {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 100vw;
  height: 100vh;
}

@media screen and (max-width: 60em) {
  .books {
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
}

.grid-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row: 1;
}

@media screen and (max-width: 60em) {
  .grid-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 1;
        grid-row: 1;
  }
}

.grid-2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row: 1;
}

@media screen and (max-width: 60em) {
  .grid-2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 2;
        grid-row: 2;
  }
}

.grid-3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row: 2;
}

@media screen and (max-width: 60em) {
  .grid-3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 3;
        grid-row: 3;
  }
}

.grid-4 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row: 2;
}

@media screen and (max-width: 60em) {
  .grid-4 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 5;
    -ms-grid-row: 4;
        grid-row: 4;
  }
}

.callout {
  margin: 0;
}
